<%- include("header") -%>
    <body>
        <div class="box" id="heading">
            <h1> <%= listTitle  %></h1>
        </div>
        <div class="box">
            <% items.forEach(function(item){ %>
            <form method="post" action="/delete">
                <div class="item">
                    <input type="checkbox" name="checkbox" onchange="this.form.submit()" value=<%= item._id %>>
                    <p><%= item.name %></p>       
                    <input type="hidden" name="listName" value=<%= listTitle %>>            
                </div>
            </form>    
            
            <% }) %>

            <form class="item" method="post" action="/">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value = <%= listTitle %>>+</button>
            </form>
            
        </div>
        
        
        <script src="" async defer></script>
    </body>
    <script>
        document.getElementsByName
    </script>
    <%- include("footer") -%>    

    